* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.single-book {
	border-radius: 8px;
	border: 1px solid black;
	padding: 1%;
	margin: 0.5%;
}
.el {
	padding: 2% 0;
}

.new-book {
	padding: 0.5%;
	cursor: pointer;
}

.modalWindow {
	width: 20vw;
	height: 60vh;
	border-radius: 8px;
	padding: 1%;
	background-color: blueviolet;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modalWindow .book-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modalWindow .book-form label {
	margin: 1%;
}

.modalWindow .book-form input {
	margin: 1%;
	height: 1.5rem;
}

.modalWindow button {
	width: 70%;
	border-radius: 8px;
	border: none;
	margin: 3%;
	align-self: center;
	padding: 1%;
}

.modalWindow button:active {
	transform: scale(0.9);
}

.readForm {
	display: flex;
	align-items: center;
}

#readForm {
	margin-left: 5%;
}

.modal::backdrop {
	background-color: aquamarine;
	opacity: 0.5;
}

.closeModal {
	background-color: red;
}
