@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Mooli&family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #40739e;
	text-align: center;
}

.single-book {
	width: 100%;
	border-radius: 8px;
	border: 1px solid black;
	padding: 1%;
	margin: 0.5%;
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.single-book button {
	align-self: center;
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 70%;
}
.el {
	padding: 2% 0;
}

.new-book {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 5px;
	padding: 0.5%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: #f5f6fa;
	font-size: 1.3rem;
	margin: 0 auto;
}

.new-book .plus-sign {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3px;
}

.modalWindow {
	width: 20vw;
	height: 60vh;
	border-radius: 8px;
	padding: 1%;
	background-color: #9c88ff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modalWindow .book-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modalWindow .book-form label {
	margin: 1%;
}

.modalWindow .book-form input {
	margin: 3% 0;
	height: 2.3rem;
}

.modalWindow button {
	width: 90%;
	border-radius: 8px;
	border: none;
	margin: 3%;
	align-self: center;
	font-size: 1.3rem;
	letter-spacing: 2px;
	color: #353b48;
	padding: 3%;
}

.modalWindow button:active {
	transform: scale(0.9);
}

.readForm {
	display: flex;
	align-items: center;
}

#readForm {
	margin-left: 3%;
	margin-top: 4%;
}

.modal::backdrop {
	background-color: aquamarine;
	opacity: 0.5;
}

.closeModal {
	background-color: red;
}

.read {
	background-color: greenyellow;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

.notRead {
	background-color: #ff0000;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

.checkboxContainer {
	display: flex;
	align-items: center;
}

.checkboxContainer input {
	width: 8%;
}

header {
	display: flex;
	align-items: center;
	gap: 1%;
	background-color: #273c75;
	height: 10vh;
	color: #f5f6fa;
	padding-left: 15%;
	box-shadow: -1px 14px 12px 0px rgba(41, 77, 77, 0.2);
}

.book-form h3 {
	padding: 2%;
}

.btnRead,
.removeBook {
	padding: 5%;
}

#book-container {
	display: grid;
	align-items: end;
	justify-content: center;
	width: 90vw;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}

.removeBook {
	background-color: #273c75;
	color: #f5f6fa;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
